body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(255, 119, 22);
}

a.photo {
    transition: padding 0.5s;
}

a.photo:hover {
    margin: 10px;
    padding: 15px;
}

h1 {
    text-align: center; 
}
